### C/C++ ###
# Prerequisites
*.d

# Object files
*.o
*.obj
*.slo
*.lo

# Libraries
*.a
*.lib
*.la
*.lai
*.so
*.dylib
*.dll

# Executables
*.exe
*.out
*.app

# Debug files
*.pdb
*.idb

# Precompiled Headers
*.gch
*.pch

# Fortran (se aplicável)
*.mod
*.smod


### Build directories ###
bin/
build/
out/
Debug/
Release/


### VS Code ###
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json       # Útil para configurações de build compartilhadas


### Temporários/Editors ###
*~
*.swp
*.swo
.DS_Store                # MacOS
Thumbs.db                # Windows